


<form (ngSubmit)="onAnalyze()">
  <p><label for="jobdescription">Job Description</label></p>
  <textarea id="myTextarea" [(ngModel)]="textareaContent" name="content" rows="4" cols="50"></textarea>

  <div class="toUpload">
    <input type="file" class="file-input" (change)="onChange($event)" #fileUpload />
  </div>

  <button type="submit">Analyze</button>
</form>

<div *ngIf="file">
  <section class="file-info">
    <br>
    <ul>
      <li><b>Name:</b> {{file.name}}</li>
    </ul>
  </section>

  <section [ngSwitch]="status">
    <p *ngSwitchCase="'uploading'">⏳ Analyzing...</p>
    <p *ngSwitchCase="'success'">✅ Done!</p>
    <p *ngSwitchCase="'fail'">❌ Error!</p>
    <p *ngSwitchDefault>😶 Waiting to Analyze...</p>
  </section>
</div>

  <!-- <div *ngIf="status==='success'">
    <h3>AI Resume Comparison Result:</h3>
    
    <div class="result"> 
      <pre> 
        {{ comparisonResult }}
      </pre>
    </div>
</div> -->

<div *ngIf="status==='success'" class="container">
  
  <div class="result"> 
    <pre> 
      {{ comparisonResult }}
    </pre>
  </div>
</div>







