

<!-- <mat-form-field>
  <mat-label>Description</mat-label>
  <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="3"
            cdkAutosizeMaxRows="8">
  </textarea>
</mat-form-field> -->


<div class="toUpload">
  <input type="file" class="file-input" (change)="onChange($event)" #fileUpload />
</div>

<div *ngIf="file">
  <section class="file-info">
    <br>
    <!-- <b>File details:</b> -->
    <ul>
      <li><b>Name:</b> {{file.name}}</li>
      <!-- <li><b>Type:</b> {{file.type}}</li>
      <li><b>Size:</b> {{file.size}} bytes</li> -->
    </ul>
  </section>

  <button (click)="onUpload()">Analyze</button>

  <section [ngSwitch]="status">
    <p *ngSwitchCase="'uploading'">⏳ Analyzing...</p>
    <p *ngSwitchCase="'success'">✅ Done!</p>
    <p *ngSwitchCase="'fail'">❌ Error!</p>
    <p *ngSwitchDefault>😶 Waiting to Analyze...</p>
  </section>
</div>

<!-- <mat-form-field>
  <mat-label>Textarea</mat-label>
  <textarea matInput></textarea>
</mat-form-field> -->